/*@font-face
{
    font-family: 'Font Name';

    src: url('fonts/FONT/FILE.woff2') format('woff2'),
    url('fonts/FONT/FILE.woff') format('woff'),
    url('fonts/FONT/FILE.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}*/
@font-face {
  font-family: 'kdm-font-1';
  src: url("fonts/kdm-font-10.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'kdm-font-2';
  src: url("fonts/kdm-font-2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 300; }

.app-header {
  padding: 1em;
  text-align: center;
  background: #f5f5f5; }

.page-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: .5em;
  font-size: 2em; }

.card-filter-input {
  display: block;
  margin: 0 auto 1em;
  max-width: 30em;
  width: 100%;
  font-size: 1em; }

.expansion-toggle {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .5em; }
  .expansion-toggle label {
    margin-right: .5em; }

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 1em 0; }
  .card-list .list-title {
    width: 100%;
    margin-bottom: 1em; }
  .card-list .list-break {
    width: 100%;
    margin-bottom: 1em; }

.card {
  width: 16em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: .5em;
  text-align: center;
  line-height: 1.5;
  min-height: 25em;
  position: relative;
  overflow: hidden; }
  .card > .wrapper {
    position: relative;
    z-index: 2;
    padding: 1em; }
  .card .title {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 100;
    position: relative;
    z-index: 2; }
  .card .sub-types {
    margin-bottom: 1em;
    font-size: .6em;
    position: relative;
    z-index: 2; }
  .card .image {
    position: relative;
    margin-bottom: 1em;
    position: relative;
    z-index: 1; }
    .card .image:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 66.66667%; }
    .card .image > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .card .flavor-text {
    font-size: .6em;
    font-style: italic;
    margin-bottom: 1em;
    position: relative;
    z-index: 2;
    padding: 0 2em; }
  .card .description {
    font-size: .6em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    z-index: 2; }
    .card .description br {
      content: "-" !important;
      display: block !important;
      margin-bottom: 1em !important; }
    .card .description table {
      text-align: left;
      border-collapse: collapse; }
      .card .description table tr:nth-of-type(even) {
        background: rgba(0, 0, 0, 0.05); }
      .card .description table td {
        padding: .25em;
        vertical-align: top; }
        .card .description table td:first-child {
          width: 3em; }
    .card .description font {
      font-family: "kdm-font-2"; }
    .card .description .kd_blue_font {
      font-family: "Open Sans", sans-serif;
      color: blue; }
    .card .description .kd_pink_font {
      font-family: "Open Sans", sans-serif;
      color: red; }
    .card .description .kdm_font {
      font-family: "kdm-font-1";
      vertical-align: middle; }
  .card.fighting_arts {
    background: #e5e5e5; }
    .card.fighting_arts .image {
      margin-left: -1em;
      margin-right: -1em;
      background-color: rgba(0, 0, 0, 0.25); }
  .card.resources {
    background: #d3d5ae; }
    .card.resources:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(ellipse at center, #ddded9 0%, #d3d5ae 80%, #d3d5ae 100%);
      background-size: 15em 15em;
      background-repeat: no-repeat;
      background-position: center 20px; }
    .card.resources .title {
      font-weight: 700;
      color: #788335; }
    .card.resources .sub-types {
      font-weight: 700;
      color: #788335; }
  .card.disorders {
    color: white;
    background: #212121; }
    .card.disorders:before {
      display: none; }
    .card.disorders > .wrapper {
      background: url("images/disorder-2.jpg") no-repeat top center;
      background-size: contain; }
    .card.disorders .sub-types {
      opacity: 0; }
    .card.disorders .image {
      margin-bottom: 0; }
    .card.disorders:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(ellipse at center, #5f6156 0%, #212121 70%, #212121 100%);
      background-size: 15em 15em;
      background-repeat: no-repeat;
      background-position: center 20px; }

/*# sourceMappingURL=App.css.map */
