@import "styles/variables";
@import "styles/mixins";
@import "styles/fonts";
@import "styles/normalize";

//TODO: header file
.app-header
{
    padding: 1em;
    text-align: center;
    background: $color_gray_1;
}

.page-title
{
    text-align: center;
    font-weight: 700;
    margin-bottom: .5em;
    font-size: 2em;
}

.card-filter-input
{
    display: block;
    margin: 0 auto 1em;
    max-width: 30em;
    width: 100%;
    font-size: 1em;
    padding: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

//TODO: should these just be loaded per component?

//Cards
@import "styles/components/Card";

//CardList
@import "styles/components/CardList";

//CardListHolder
@import "styles/components/CardListHolder";

//Deck
@import "styles/components/Deck";

//Toggle
@import "styles/components/Toggle";

//ToggleHolder
@import "styles/components/ToggleHolder";