.card
{
    width: 16em;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    border-radius: 10px;
    margin: .5em;
    text-align: center;
    line-height: 1.5;
    min-height: 25em;
    position: relative;
    overflow: hidden;

    > .wrapper
    {
        position: relative;
        z-index: 2;
        padding: 1em;
    }

    .title
    {
        font-size: 1em;
        margin-bottom: 0;
        font-weight: 100;
        position: relative;
        z-index: 2;
    }

    .sub-types
    {
        margin-bottom: 1em;
        font-size: .6em;
        position: relative;
        z-index: 2;
    }

    .image
    {
        @include aspect-ratio(1.5,1);
        margin-bottom: 1em;
        position: relative;
        z-index: 1;
    }

    .flavor-text
    {
        font-size: .6em;
        font-style: italic;
        margin-bottom: 1em;
        position: relative;
        z-index: 2;
        padding: 0 2em;
    }

    .description
    {
        font-size: .6em;
        padding-left: 1em;
        padding-right: 1em;
        position: relative;
        z-index: 2;
        br
        {
            //Hack due to api not wrapping text in paragraphs
            content: "-" !important;
            display: block !important;
            margin-bottom: 1em !important;
        }

        table
        {
            text-align: left;
            border-collapse:collapse;
            tr:nth-of-type(even)
            {
                background: rgba(0,0,0,.05);
            }
            td
            {
                padding: .25em;
                vertical-align: top;
                &:first-child
                {
                    width: 3em;
                }
            }
        }

        font
        {
            font-family: $icon_font_2;
        }
        .kd_blue_font
        {
            font-family: $font_1;
            color: blue;
        }
        .kd_pink_font
        {
            font-family: $font_1;
            color: red;
        }
        .kdm_font
        {
            font-family: $icon_font_1;
            vertical-align: middle;
        }

        //TODO: need to make custom font for special icons
    }

    &.fighting_arts
    {
        background: #e5e5e5;

        .image
        {
            margin-left: -1em;
            margin-right: -1em;
            background-color: rgba(0,0,0,.25);
        }
    }

    &.resources
    {
        background: #d3d5ae;
        &:before
        {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(ellipse at center, #ddded9 0%, #d3d5ae 80%, #d3d5ae 100%);
            background-size: 15em 15em;
            background-repeat: no-repeat;
            background-position: center 20px;
        }

        .title
        {
            font-weight: 700;
            color: #788335;
        }
        .sub-types
        {
            font-weight: 700;
            color: #788335;
        }
    }

    &.disorders
    {
        color: white;
        background: #212121;

        &:before
        {
            display: none;
        }

        > .wrapper
        {
            background: url('images/disorder-2.jpg') no-repeat top center;
            background-size: contain;
        }
        .sub-types
        {
            opacity: 0;
        }
        .image
        {
            margin-bottom: 0;
        }


        &:before
        {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(ellipse at center, #5f6156 0%, #212121 70%, #212121 100%);
            background-size: 15em 15em;
            background-repeat: no-repeat;
            background-position: center 20px;
        }
    }
}